@page "/Login/{Id:int}"
@inject Accountinfo LoginState

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

@code{
    [Parameter]
    public int Id {get;set;} =-1;
    string log = "logined";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await GETsessionvalue();
        StateHasChanged();
        //await ProtectedSessionStore.SetAsync("LoginState", log);
        //return base.OnAfterRenderAsync(firstRender);
    }
    string LoginStatetem="";   
    //LoginState
    async Task Login(){
        await ProtectedSessionStore.SetAsync("LoginState", log);

        await GETsessionvalue();

        StateHasChanged();
    }

    async Task GETsessionvalue(){
        var result=await ProtectedSessionStore.GetAsync<string>("LoginState");
        if(result.Success==true&&result.Value is not null){
            LoginStatetem=result.Value;
        }
    }

}

<h1>LoginPage @LoginStatetem</h1>:@Id  

<button @onclick="Login" >Login</button>