@page "/Login/{Id:int}"
@inject Accountinfo LoginState
@inject IHttpClientFactory httpcient
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

@code{
    [Parameter]
    public int Id {get;set;} =-2;
    public Controller.DaoController? Dc;
    protected override void OnInitialized(){
        Dc=new(httpcient);
        return;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await GetSessionValue();
        StateHasChanged();
        //await ProtectedSessionStore.SetAsync("LoginState", log);
        //return base.OnAfterRenderAsync(firstRender);
    }
    bool LoginStatetem=false;   
    //LoginState

    async Task GetSessionValue(){
        var result=await ProtectedSessionStore.GetAsync<bool>("LoginState");
        if(result.Success==true){
            LoginStatetem=result.Value;
        }
    }
    string errormsg="";
}

<h1>LoginPage @LoginStatetem</h1>:@Id 
<br />
@if (errormsg.Any())
{
    //=new DateTime(2023,12,8,16,30,00);
    //"2023/12/6 18:30:00";
    //errormsg+=DateTime.Now.ToShortDateString();
    <div>
        <p class=" bg-danger text-warning  p-3  w-70   ">@errormsg</p>
        <button @onclick="@(e=> errormsg="")" class=" btn-close "></button>
    </div>
}
<br />
 <span>
AccountId:
<br />
<InputNumber TValue="Int32" @bind-Value=accountid>
</InputNumber>
 </span>
 <br />
 <span>
AccountPassword:
<br />
<InputText  @bind-Value=accountpsw>
</InputText>
 </span>
<br />

@if(LoginStatetem==true){
<button @onclick="Logout" >Log out</button>
}else{
<button @onclick="Login" >Login</button>

}

@code{
    int accountid=-2;
    string accountpsw="fza";
    //string log = "true";
    async Task Login(){
        Console.WriteLine("2");
        errormsg=await GetPswFromDbById(accountid);
        //accountpsw=errormsg;
        Console.WriteLine("5");
        if(accountpsw!=errormsg){
            errormsg="password or id not right" ;
            //await ProtectedSessionStore.SetAsync("LoginState", false);
            return;
        }
        //log = "true";
        await ProtectedSessionStore.SetAsync("LoginState", true);
        //无法确保输入正确的值
        await GetSessionValue();

        StateHasChanged();
    }
    async Task Logout(){
        //log="false";
        await ProtectedSessionStore.SetAsync("LoginState", false);
        StateHasChanged();
    }

    async Task<string>  GetPswFromDbById(int Id){
        Console.WriteLine("3");
        var task=await Dc!.GetOneOwnPropertyAsync<string>("Accountinfos/Passwords",Id);
        if (task is null){
            return errormsg="task psw is null";
        }
        Console.WriteLine("4");
        //GetOwnPropertyAsync
        @* if(task.FirstOrDefault<string>()){
        } *@
        @* var a = task;
            if (a is null){
                return errormsg="First psw is null";
            } *@
        return task;  
        //return "";
    }
}