<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">T7</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        @{

            if (LoginState is false)
            {
                <NavLink href="/LoginPage" class="oi ">
                    <Button Type="@ButtonType.Primary" class=" btn-success oi oi-account-login ">登录</Button>
                    <span class="oi oi-account-login"></span>
                </NavLink>
            }
            else
            {
                <NavLink href="/LoginPage" class="oi ">

                    <Button Type="@ButtonType.Primary" class=" btn-primary ">@name 登出</Button>
                    <span class="oi oi-account-logout"></span>
                </NavLink>
            }
        }
        @* <a href=@hrefString class=" btn-success">登录</a> *@


    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> 工作台
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> 计数器
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeePage">
                <span class="oi oi-briefcase" aria-hidden="true"></span> 员工管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Recruitmentpage">
                <span class="oi oi-plus" aria-hidden="true"></span> 招聘管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DepartmentPage">
                <span class="oi oi-home" aria-hidden="true"></span> 部门管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Performancepage">
                <span class="oi oi-star" aria-hidden="true"></span> 绩效管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payrollpage">
                <span class="oi oi-yen" aria-hidden="true"></span> 薪资管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentpage">
                <span class="oi oi-document" aria-hidden="true"></span> 文件管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingpage">
                <span class="oi oi-pencil" aria-hidden="true"></span> 培训管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="declarationpage">
                <span class="oi oi-comment-square" aria-hidden="true"></span> 申报管理
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="selfcheckpage">
                <span class="oi " aria-hidden="true"></span> 用户自查
            </NavLink>
        </div> *@
        <!-- #region old-->

        @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
        </div> *@

        @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="departmentPage">
        <span class="oi oi-list-rich" aria-hidden="true"></span> To Do Department
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Person">
        <span class="oi oi-list-rich" aria-hidden="true"></span> To Do Person
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="SignLogPage">
        <span class="oi oi-list-rich" aria-hidden="true"></span> To Do SignLog
        </NavLink>
        </div>


        <div class="nav-item px-3">
        <NavLink class="nav-link" href="AccountInfoPage">
        <span class="oi oi-list-rich" aria-hidden="true"></span> AccountInfoManagePage
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="ClassPage">
        <span class="oi oi-list-rich" aria-hidden="true"></span> ClassInfoPage
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="CoursePage">
        <span class="oi oi-list-rich" aria-hidden="true"></span> CourseInfoPage
        </NavLink>
        </div> *@
        <!-- #endregion old-->

    </nav>
</div>
@inject NavigationManager NavigationManager
@using AntDesign
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@code{
    protected override async Task OnAfterRenderAsync(bool firstRender){
            currentId =  await localStorage.GetItemAsync<int>("id");
            name =  await localStorage.GetItemAsync<string>("name");
            LoginState= await localStorage.GetItemAsync<bool>("login state");
                StateHasChanged();
            //Statushaschanged();
    }
    int currentId;
    string? name;
    bool LoginState = false;
}

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
