<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">T7</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
@using AntDesign
        @{

            bool LoginState = false;

            int currentId = 0;

            string hrefString = "Login";
            hrefString += "/" + currentId;
            if (LoginState == false)
            {
            <NavLink  href="" >
                <Button Type="@ButtonType.Primary" class=" btn-success">登录</Button>
            </NavLink>
            }
        }
        @* <a href=@hrefString class=" btn-success">登录</a> *@
            

    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeePage">
                <span class="oi oi-plus" aria-hidden="true"></span> 员工管理
            </NavLink>
        </div>

               <div class="nav-item px-3">
            <NavLink class="nav-link" href="Recruitmentpage">
                <span class="oi oi-plus" aria-hidden="true"></span> 招聘管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DepartmentPage">
                <span class="oi oi-plus" aria-hidden="true"></span> 部门管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Performancepage">
                <span class="oi oi-plus" aria-hidden="true"></span> 绩效管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payrollpage">
                <span class="oi oi-plus" aria-hidden="true"></span> 薪资管理
            </NavLink>
        </div>   

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentpage">
                <span class="oi oi-plus" aria-hidden="true"></span> 文件管理
            </NavLink>
        </div>
                
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingpage">
                <span class="oi oi-plus" aria-hidden="true"></span> 培训管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="declarationpage">
                <span class="oi oi-plus" aria-hidden="true"></span> 申报管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="selfcheckpage">
                <span class="oi oi-plus" aria-hidden="true"></span> 用户自查
            </NavLink>
        </div>
<!-- #region old-->

        @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
        </div> *@

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="departmentPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> To Do Department
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Person">
                <span class="oi oi-list-rich" aria-hidden="true"></span> To Do Person
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SignLogPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> To Do SignLog
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AccountInfoPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AccountInfoManagePage
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClassPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ClassInfoPage 
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CoursePage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CourseInfoPage 
            </NavLink>
        </div> *@
        <!-- #endregion old-->

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
