@typeparam ItemType

<PageTitle>@Name</PageTitle>

<h1>@Name</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @HeadTemplet
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data!)
            {
                <tr>
                    @RowTemplet!(item)
                </tr>
            }
        </tbody>
        <tfoot>
            @ContentTemplet!("This Context Count Has:" + Data.Count())
        </tfoot>
    </table>
}

@code {
    //[Parameter] public List<int> selectedIdList;
    //public IEnumerable<ItemType>? forcasts;
    [Parameter] public List<ItemType>? Data { get; set; }
    [Parameter] public String Name { get; set; } = "Fetching Data From A Service";

    [Parameter] public RenderFragment<String>? ContentTemplet { get; set; }
    [Parameter] public RenderFragment<ItemType>? RowTemplet { get; set; }
    [Parameter] public RenderFragment? HeadTemplet { get; set; }
    @* protected override void OnAfterRender(bool firstRender)
{
if (firstRender)
{
//System.Threading.Thread.Sleep(300);
forcasts = Data;
StateHasChanged();

}
} *@

}
