<br>
<input type="@TextOrPassword"  @bind=inerpassword @oninput=inputed/>
<button @onclick=displayTypeChange>@name</button>
@code{
    [Parameter]public String? inerpassword{get;set;}
    [Parameter]public EventCallback<String?> inerpasswordChanged{get;set;}
    bool DisplayBefore=false;
    String TextOrPassword="password";
    String name="显示";
    void displayTypeChange(){
        if(DisplayBefore){
        TextOrPassword="password";
        name="显示";
        DisplayBefore=false;
        return;
        }
        TextOrPassword="text";
        name="隐藏";
        DisplayBefore=true;
    }

    Task inputed(ChangeEventArgs e){
        if(e.Value is null){
            return Task.CompletedTask;
        }
        return inerpasswordChanged.InvokeAsync(e.Value?.ToString());
    }

}